fastapi
uvicorn
python-multipart
langchain
langchain-community
langchain-nvidia-ai-endpoints
langchain-postgres
psycopg2-binary
sqlalchemy
fpdf2
beautifulsoup4
requests
sec-edgar-downloader
python-dotenv
tenacity
tiktoken